.virtual{
    margin-top: 5rem;
    position: relative;
}

.virtualText{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:2rem;
    left: 6%;
}

.virtualText>span:nth-child(1){
    color:#fff;
    font-size: 34px;
    font-weight: bold;
    width: 20rem;
}

.virtualText>span:nth-child(2){
    color:#d8e3fd;
    font-size: 16px;
    font-weight: bold;
    width: 30rem;
}

.buttons{
    width: 100%;
    background-color:#1e73be;
    display: flex;
    justify-content: center;
    padding: 70px;
    margin-top: 3rem;
    gap:0.5rem;
}

.buttons>button:nth-child(1){
    border: 2px solid transparent;
    background-color: #fff;
    color: #273452;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    border-radius: 15px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 15px;
    transition: all .2s;
    cursor: pointer;
}

.buttons>button:nth-child(2){
    background-color: transparent;
    border: 2px solid #fff !important;
    color: #fff;
    width: 170px;
    border-radius: 15px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.buttons>button:nth-child(1):hover{
    color:#fff;
    background-color: transparent;
    border: 2px solid #fff !important;
}

.buttons>button:nth-child(2):hover{
    color: #273452;
    background-color: #fff;
    border: 2px solid #fff !important;
}

.wrapper div div div:nth-child(1){
    background: linear-gradient(to bottom, #132143 0%, #1e73be 100%) !important; 
    font-weight: bold !important;
    width: 4px !important;
    color: #1e73be;
}

.wrapper div div div:nth-child(2){
    background: linear-gradient(to bottom, #132143 0%, #1e73be 100%) !important;
}

.wrapper div div div:nth-child(3){
    background: linear-gradient(to bottom, #132143 0%, #1e73be 100%) !important; 
    font-weight: bold !important;
    width: 4px !important;
    color: #1e73be;
}


@media screen and (max-width:1080px) {
    .virtualText{
        left: 4%;
        top:0;
        line-height: 1.4;
    }
    .virtualText>span:nth-child(1){
        font-size: 22px;
        font-weight: bold;
        width: 15rem;
    }
    .virtualText>span:nth-child(2){
        font-size: 15px;
        width: 22.5rem;
    }
    .wrapper{
        padding-top: 10rem;
    }
}